* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --index: calc(1vw + 1vh);
  --gallery-gap: calc(var(--index) * 10);
  --color-brand-dark: #3e6c82c0;
  --color-brand-normal: #ec572e;
}

@font-face {
  font-family: outfit-c;
  src: url(../fonts/dancing-script-v25-latin-700.woff2);
}

@font-face {
  font-family: raleway-c;
  src: url(../fonts/dancing-script-v25-latin-regular.woff2);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: outfit-c;
  line-height: 1.2;
}

p {
  line-height: 1.5;
  text-align: justify;
}

.content,
.hero,
.main-header,
.gallery > * {
  will-change: transform;
}

body {
  background-image: url(../img/background.jpg);
  background-size: cover;
  background-size: 130%;
  color: var(--color-brand-dark);
  font-family: raleway-c;
  overflow-x: hidden;
}

.hero {
  position: fixed;
  top: 0;
  left: calc(60vw - (var(--index) * 25));
  width: calc(var(--index) * 40);
  height: auto;
  z-index: -1;
}

.main-header {
  height: 100vh;
}

.container {
  padding: 0 8vw;
}

.main-title {
  font-size: calc(var(--index) * 5);
  position: absolute;
  width: min-content;
  bottom: 8vh;
  cursor: pointer;
  margin-bottom: 8vh;

  /*Імітація друкування*/

  white-space: nowrap;
  overflow: hidden;
  border-right: 0 solid;
  animation: typing 4s steps(40, end);
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

.main-title:hover {
  color: var(--color-brand-normal);
}

.sub-title {
  font-size: calc(var(--index) * 2.5);
  position: absolute;
  margin-top: 8vh;
  bottom: 6vh;
  cursor: pointer;

  /*Імітація друкування*/

  white-space: nowrap;
  overflow: hidden;
  border-right: 0 solid;
  visibility: hidden;
}

.sub-title.start-animation {
  visibility: visible;
  animation: typing-subtitle 4s steps(40, end);
}

@keyframes typing-subtitle {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

.sub-title:hover {
  color: #ce7fa2;
}

.about-section {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 8vw;
  height: 100vh;
}

.text-title {
  font-size: calc(var(--index) * 1.4);
}

.gallery {
  display: flex;
  padding: calc(var(--index) * 8) 0;
  flex-wrap: wrap;
}

.gallery > * {
  flex: 1 1 calc(33.333% - var(--gallery-gap));
  display: flex;
  align-items: center;
  flex-direction: column;
}

.gallery__item {
  max-width: calc(var(--index) * 22.5);
  margin-bottom: var(--gallery-gap);
  max-height: 180vh;
  border-radius: 24px;
}

.gallery__left {
  margin-top: calc(var(--gallery-gap) * 1.5);
}

.gallery__right .gallery__item {
  margin: 0;
  margin-top: var(--gallery-gap);
}

.text-block {
  position: relative;
}

.text-block__h {
  font-size: calc(var(--index) * 3);
  margin-bottom: 1rem;
}

.text-block__s {
  font-size: calc(var(--index) * 3);
  margin-bottom: 1rem;
}

.text-block__p {
  font-size: calc(var(--index) * 1.2);
}

.text-block__ul {
  font-size: calc(var(--index) * 1.2);
  list-style-type: none; /*це я забираю крапочки в списку*/
  text-align: center;
}

.portfolio1__h {
  color: #819b57;
}

.portfolio1__s {
  color: #faf4ea;
}

.portfolio1__p {
  color: #a66f0f;
}

.portfolio1__ul {
  color: #a66f0f;
}

.portfolio2__h {
  color: var(--color-brand-normal);
}

.portfolio2__s {
  color: var(--color-brand-normal);
}

.portfolio2__p {
  color: #ce7fa2;
}

.portfolio2__ul {
  color: #ce7fa2;
}

/*.xarxes-socials {
  position: fixed;
  top: 32vh;
  right: 0;
  padding-right: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  overflow: hidden;
  z-index: 99;
}

.xarxes-socials__icon {
  fill: #3e6c82c0;
  margin-top: 30px;

  :hover {
    fill: #ec572e;
  }
}*/

.xarxes-socials {
  position: fixed;
  top: 20vh;
  right: 0;
  padding-right: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  overflow: hidden;
  z-index: 99;
}

.xarxes-socials__icon {
  width: calc(var(--index) * 2); /* Розмір іконок залежно від --index */
  height: calc(var(--index) * 2); /* Розмір іконок залежно від --index */
  fill: #3e6c82c0;
  margin-top: calc(
    var(--index) * 3
  ); /* Відступ між іконками залежно від --index */
}

.xarxes-socials__icon:hover {
  fill: #ec572e; /* Колір при наведенні */
}
